@model MVC_ADOCRUD.Models.Property

@{
    ViewBag.Title = "Exam_Notification1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .control-label{
        color:white;
    }
    h2{
        color:wheat
            ;
    }
</style>
<h2>Exam_Notification</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Exam, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div>
                @Html.DropDownListFor(model => model.Exam_Id, ViewBag.EXAMLIST as SelectList, "-- Select the Exam --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Exam_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Published_Date1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Published_Date1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Published_Date1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registration_Start_Date1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registration_Start_Date1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Registration_Start_Date1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registration_End_Date1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registration_End_Date1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Registration_End_Date1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Examination_Start_Date1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Examination_Start_Date1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Examination_Start_Date1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Examination_End_Date1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Examination_End_Date1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Examination_End_Date1, "", new { @class = "text-danger" })
            </div>
        </div>


        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
                @Html.ActionLink("Back to List", "Get_Exam_Notification_List_For_View", "Home", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
}
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
