@model IEnumerable<MVC_ADOCRUD.Models.Property>

@{
    ViewBag.Title = "GetEmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2 {
        color: gold;
        text-align: center;
    }
    .table thead th{
        text-align: center;
        color: #fff;
    }

    td {
        text-align: center;
        color: black;
    }

    .table-wrapper {
        max-height: 400px;
        overflow-y: scroll;
        margin: auto;
    }
</style>

<h2>List of Student</h2>

<p>
    @Html.ActionLink("Add New Entry", "Insert", "Home", new { @class = "d-grid gap-2  col-2 btn btn-success" })
</p>

<div class="outer-wrapper">
    <div class="table-wrapper">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr style="background-color: #006a4e;">
                    <th> <label>Emp Id</label></th>
                    <th>
                        <label>First Name</label>
                    </th>
                    <th>
                        <label>Last Name</label>
                    </th>
                    <th>
                        <label>Email</label>
                    </th>
                    <th>
                        <label>Username</label>
                    </th>
                    <th>
                        <label>Password</label>
                    </th>
                    <th>
                        <label>Re-Password</label>
                    </th>
                    <th>
                       <label>Mobile</label>
                    </th>
                    <th>
                        <label>Country</label>
                    </th>
                    <th>
                        <label>State</label>
                    </th>
                    <th>
                        <label>City</label>
                    </th>
                    <th></th>
                </tr>
            </thead>






            @foreach (var item in Model)
            {
                <tr style="background-color: whitesmoke">
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConfirmPassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City_Name)
                    </td>

                    <td>
                        <div class="d-flex gap-2">
                            @Html.ActionLink("Edit", "Update", new { id = item.Employee_ID }, new { @class = "d-grid mx-auto btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Employee_ID }, new { @class = "d-grid mx-auto btn btn-danger", onclick = "return confirm('Do you want to delete this record');" })
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>