@model MVC_ADOCRUD.Models.Property

@{
    ViewBag.Title = "PaperUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2 {
        color: gold;
    }
</style>
<h2>PaperUpdate</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    
   
    <div class="form-group">
        @Html.LabelFor(model => model.Exam, htmlAttributes: new { @class = "control-label text-light" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Exam_Id, ViewBag.EXAMLIST  as SelectList , new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Exam_Id, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.Subject_Name, htmlAttributes: new { @class = "control-label text-light" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Subject_Name, ViewBag.SubjectLIST as SelectList, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subject_Name, "", new { @class = "text-danger" })
        </div>
    </div>
 
    <div class="form-group">
        @Html.LabelFor(model => model.Min_Marks, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Min_Marks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Min_Marks, "", new { @class = "text-danger" })
        </div>
    </div>
  
    <div class="form-group">
        @Html.LabelFor(model => model.Max_Marks, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Max_Marks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Max_Marks, "", new { @class = "text-danger" })
        </div>
    </div>
  <br />
    <div class="form-group">
        <div class="col-md-offset-2 ">
            <input type="submit" value="Update Paper Data" class="btn btn-info" />
            @Html.ActionLink("Paper List", "GetPaperList", "Home", new { @class = "btn btn-success " })
        </div>
    </div>
    <br />
    <div>
      
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<!--      Java script Alert Popup Message-->
@if (!string.IsNullOrEmpty(ViewBag.UpdatePaperData))
{
    <script type="text/javascript">
        alert("@ViewBag.UpdatePaperData");
    </script>
}