@model MVC_ADOCRUD.Models.Property

@{
    ViewBag.Title = "SectionUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2{
        color: gold;
    }
</style>
<h2>SectionUpdate</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Section_Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Subject_Name, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Minimum_Marks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subject_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Minimum_Marks, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Minimum_Marks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Minimum_Marks, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Maximum_Marks, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Maximum_Marks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Maximum_Marks, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Section_Name, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Section_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Section_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="form-group">
        <div>
            <input type="submit" value="Update" class="bd-grid gap-2 col-3 btn btn-success" />
        </div>
    </div>
    <br />
</div>
}

<div>
    @Html.ActionLink("Back to Section List", "SectionList","Home", new { @class = "d-grid gap-2 col-2  btn btn-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<!--      Java script Alert Popup Message-->
@if (!string.IsNullOrEmpty(ViewBag.UpdateSectionData))
{
    <script type="text/javascript">
        alert("@ViewBag.UpdateSectionData");
    </script>
}